@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Anurati';
    src: url('../fonts/Anurati.otf') format('opentype');
}
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    color: #1d1d1d;   
    box-sizing: border-box;
}

/* =============== HEADER============ */
.banner {
    background: linear-gradient(145deg, #01727b, #009f7a, #eee8a9);
    background-size: 600% 600%;
    -webkit-animation: AnimateGradient 55s ease infinite;
    -moz-animation: AnimateGradient 55s ease infinite;
    animation: AnimateGradient 55s ease infinite;
    padding: 0 5%;
    height: 100vh;
    
}
.navbar{
    display: flex;
 
}
@-webkit-keyframes AnimateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.brand {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.4ch;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}
.brand:hover, .nav-links a:hover{
    color: #eee8a9;
    transform: scale(1.05);
    
}
.nav-links{
    margin-left: auto;
}
.nav-links ul {
    display: flex;
    padding: 0;
}
.nav-links ul li {
    list-style-type: none;
    font-size: 1.3rem;
    padding: 10px;
}
.nav-links ul li a{
    display: flex;
    width: max-content;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: 0.4s ease-in-out;
}

.intro{
    margin: 10vh auto;
    width: fit-content;
    text-align: center;
    display: block;
}
.intro img{
    border: 10px solid #fff;
    border-radius: 200px;
    display: block;
    margin: auto;
    max-width: 300px;

}
.intro h1{
    margin: 1.5rem 0;
    display: block;
    font-size: 3rem;
    color: #fff;
    font-family: Anurati, 'Open Sans', sans-serif;
    
}
.intro p{
    margin: 1.2rem 0;
    color: #fff;
}
.intro span{
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}

.intro p a {
    font-size: 1.6rem;
    padding: 0 1.2rem ;
}
.intro i{
    color: #fff;
    transition: 0.4s ease-in-out;
}
.intro i:hover{
    transform: scale(1.4);
}

.left-border{
    border-left: #fff 3px solid;
}

/* ==================MAIN============ */
header{
    background-color: #01727b;
    padding: 0 5%;
}
.container{
    padding: 3rem 5%;
}

.overview h1{
    font-size: 6rem;
    font-weight: 400;
    border-bottom: #009f7a solid 4px;
    width: fit-content;
}
.overview{
    display: flex;
    padding-bottom: 5rem;
    border-bottom: #e6e6e6 solid 1px;
}
.overview section{
    display: block;
    padding: 4rem 0;
}
.overview section p{
    margin: 2rem 0;
    font-size: 1.2rem;
}
.overview img{
    max-width: 600px;
    display: block;
}

.skills{
    margin: 3rem 0;

}
.skills h2, .projects h2{
    font-weight: 400;
    font-size: 3rem;
}
.skills p{
    margin: 0 0 1.5rem 0;
}

.grids{
    display: flex;

}
.grids section{
    display: block;
    text-align: center;
    width: 32%;
    border: 0.5px solid #c4c4c4;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 0.8rem;
    /* height: 11rem; */

}
.grids h3{
    font-size: 2rem;
    color: #01727b;
}
.grids i{
    margin: 0 1rem 0 0;
    color: #01727b;
}
.skill-list{
    list-style-type: none;
    text-align: start;
    margin: 0.5rem 0;
}
/* =======projects========= */
.projects{
    border-top: #e6e6e6 solid 0.1rem;
    padding: 3rem 0;
}
.projects h3{
    color: #4d4d4d;
    text-align: center;
}
.projects section{
    display: flex;
    margin: 2rem 0;
}
.projects img{
    width: 600px;
    display: block;
    
}
/* single project */
.project{
    border: #f3f3f3 solid 0.5px;
    display: flex;
    border-radius: 0.8rem;
    margin: 2rem 0 1rem 1rem;
    background-color: #f9f9f9;
    height: auto;
}

.project img{
    max-width: 150px;
    border-radius: 0.8rem 0 0 0.8rem;
    display: block;
}
.project div{
    padding: 0 2rem;
}
.project div h3, .projects h3{
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0.8rem;
}
.project div p{
    padding: 5px 0;
}