@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    color: #1d1d1d;   
}

/* =============== HEADER============ */
.banner {
    background: linear-gradient(145deg, #01727b, #009f7a, #eee8a9);
    background-size: 600% 600%;
    -webkit-animation: AnimateGradient 55s ease infinite;
    -moz-animation: AnimateGradient 55s ease infinite;
    animation: AnimateGradient 55s ease infinite;
    padding: 0 5%;
    height: 100vh;
    
}
.navbar{
    display: flex;
}
@-webkit-keyframes AnimateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.brand {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.nav-links{
    margin-left: auto;
}
.nav-links ul {
    display: flex;
    padding: 0;
}
.nav-links ul li {
    list-style-type: none;
    font-size: 1.3rem;
    padding: 10px;
}
.nav-links ul li a{
    display: flex;
    width: max-content;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.intro{
    margin: 20vh auto;
    width: fit-content;
    text-align: center; 
    color: #fff;
}
.intro img{
    border: 10px solid #fff;
    border-radius: 200px;
    display: block;
    margin: auto;
    max-width: 300px;

}
.intro h1{
    margin: 1.5rem 0;
    display: block;
    font-size: 3rem;
    
}
.intro p{
    margin: 1.2rem 0;
}

.intro p a {
    color: #fff;
    font-size: 1.6rem;
    padding: 0 1.2rem ;
}

.left-border{
    border-left: #fff 3px solid;
}

/* ==================MAIN============ */
header{
    background-color: #009f7a;
    padding: 0 5%;
}
.container{
    padding: 3rem 5%;
}

.overview h1{
    font-size: 6rem;
    font-weight: 400;
    border-bottom: #009f7a solid 4px;
    width: fit-content;
}
.overview{
    display: flex;
    padding-bottom: 5rem;
    border-bottom: #e6e6e6 solid 1px;
}
.overview section{
    display: block;
    padding: 4rem 0;
}
.overview section p{
    margin: 2rem 0;
    font-size: 1.2rem;
}
.overview img{
    max-width: 600px;
    display: block;
}

.skills{
    margin: 3rem 0;

}
.skills h2{
    font-weight: 400;
    font-size: 3rem;
}
.grids{
    display: flex;
    background-color: grey;
}
.grids section{
    display: block;
    width: 32%;
    text-align: center;

}